/* color: "red",
        fontSize: "100px",
        backgroundColor: "black" */
/* h1 {
    color: red;
    font-size: 100px;
    background-color: black;
} */

p{
    color: blue;
}

input[type='checkbox']{
margin-left: 10px;
}

